body {
  text-align: center;
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

img {
  width: 64px;;
  height: 100;
}

.craft {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.craft * {
  margin: 0px;
}